<div class="caja">
    <div class="padre">
        <div class="foto">
            <img class="fotoPerfil"
                src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80"
                alt="fotoperfil">
        </div>
        <div class="box-nombre">
            <h5>Roger Smith</h5>
        </div>
        <div class="profesion">
            <p class="profesion">Full Stack Developer Junior</p>
        </div>
        <div class="email">
            <p class="email">roger-smith@gmail.com</p>
        </div>
        <div class="box-description">
            <p class="descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa, eum sint
                similique maiores iusto iure distinctio fugiat necessitatibus aliquam natus quia voluptates eaque
                earum cum eius. </p>
        </div>
        <div class="botones">
            <button class="boton"><a href="">Git</a> </button>
            <button class="boton"><a href="">Linkedin</a></button>
        </div>
    </div>
</div>