
.wellcome-banner{
    background-image: url('https://media.istockphoto.com/id/865457032/vector/abstract-futuristic-cyberspace-with-binary-code-matrix-background-with-digits-well-organized.jpg?s=612x612&w=0&k=20&c=IQcdedY8fn_DMq6nwc5MaHUBe0H0d5DPyibHR8J2usk=');
    height: 100px;
}

.wellcome-banner h1{
    color: white;
    text-align: center;
    margin-top: 0px;
      


    
}

.content-area{
    
    margin: 15px;
    padding: 15px;
    display: flex;
}
.profile-area{
   background-color: bisque;
   border-radius: 15px;
    width: 120px;
    

    h1{
        font-size: 16px;
        font-weight: bold;
        padding: 5px;
    }
    p{
        font-size: 10px;
        padding: 5px;
        font-weight: bold;
    }


    img{
        width: 40%;   
        margin: 10px;
    }  
}

.edit-area{
    background-color: gainsboro;
    border-radius: 15px;
    width: 100%;
    height: 400px;
    margin-left: 20px;
}

.edit-profile{
    // display: flex;
    margin: 25px;
}


.text-profile p{
    margin-right: 5px;
}
