*{
    background-color: black;
}

.nav-link{
    color:white;
}

.navbar-toggler{
    background-color: white;
}
.navbar-toggler-icon{
    background-color: white;
}



.nav-item:hover{
    transform: scale(1.00);
    overflow: hidden;
    border: 1.2px solid rgba(197, 115, 230, 0.883);
}





