<div class="list-section">

  <!-- <div class="padre">

    <div class="foto">

      <img class="fotoPerfil"
        src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80"
        alt="fotoperfil">

    </div>
    <div class="texto">
      <div class="box-texto">
        <h5>Roger Smith</h5>
        <p class="profesion">Full Stack Developer Junior</p>
      </div>
      <div class="mini-box">
        <div class="box-articles">
          <p class="titulo"></p>
          <p class="numero">15</p>

        </div>

        <div class="mini-box">
          <div class="box-followers">
            <p class="titulo">Followers</p>
            <p class="numero">150</p>
          </div>
        </div>


      </div>



      <div class="box-button">
        <button>Ver perfil</button>
      </div>
    </div>
  </div>


  <div class="padre">

    <div class="foto">

      <img class="fotoPerfil"
        src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80"
        alt="fotoperfil">

    </div>
    <div class="texto">
      <div class="box-texto">
        <h5>Roger Smith</h5>
        <p class="profesion">Full Stack Developer Junior</p>
      </div>
      <div class="mini-box">
        <div class="box-articles">
          <p class="titulo"></p>
          <p class="numero">15</p>

        </div>

        <div class="mini-box">
          <div class="box-followers">
            <p class="titulo">Followers</p>
            <p class="numero">150</p>
          </div>
        </div>


      </div>



      <div class="box-button">
        <button>Ver perfil</button>
      </div>
    </div>
  </div> -->




  <div class="padre">

    <div class="foto">

      <img class="fotoPerfil"
        src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80"
        alt="fotoperfil">

    </div>
    <div class="texto">
      <div class="box-texto">
        <h5>Roger Smith</h5>
        <p class="profesion">Full Stack Developer Junior</p>
      </div>
      <div class="mini-box">

        <div class="box-followers">
          <p class="titulo">Followers</p>
          <p class="numero">150</p>
        </div>


      </div>



      <div class="box-button">
        <button>Ver perfil</button>
      </div>
    </div>
  </div>
  <div class="padre">

    <div class="foto">

      <img class="fotoPerfil"
        src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80"
        alt="fotoperfil">

    </div>
    <div class="texto">
      <div class="box-texto">
        <h5>Roger Smith</h5>
        <p class="profesion">Full Stack Developer Junior</p>
      </div>
      <div class="mini-box">

        <div class="box-followers">
          <p class="titulo">Followers</p>
          <p class="numero">150</p>
        </div>


      </div>



      <div class="box-button">
        <button>Ver perfil</button>
      </div>
    </div>
  </div>

  <div class="padre">

    <div class="foto">

      <img class="fotoPerfil"
        src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=880&q=80"
        alt="fotoperfil">

    </div>
    <div class="texto">
      <div class="box-texto">
        <h5>Roger Smith</h5>
        <p class="profesion">Full Stack Developer Junior</p>
      </div>
      <div class="mini-box">

        <div class="box-followers">
          <p class="titulo">Followers</p>
          <p class="numero">150</p>
        </div>


      </div>



      <div class="box-button">
        <button>Ver perfil</button>
      </div>
    </div>
  </div>








</div>












<!-- <div class="profile-list">
  <div>
    <section style="background-color: #9de2ff;">
      <div class="container py-5 h-500">
        <div class="row d-flex justify-content-left align-items-center h-100">
          <div class="col col-md-9 col-lg-7 col-xl-5">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-4">
                <div class="d-flex text-black">
                  <div class="flex-shrink-0">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                      alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px;">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h5 class="mb-1">Danny McLoan</h5>
                    <p class="mb-2 pb-1" style="color: #2b2a2a;">Senior Journalist</p>
                    <div class="d-flex justify-content-start rounded-3 p-2 mb-2" style="background-color: #efefef;">
                      <div>
                        <p class="small text-muted mb-1">Articles</p>
                        <p class="mb-0">41</p>
                      </div>
                      <div class="px-3">
                        <p class="small text-muted mb-1">Followers</p>
                        <p class="mb-0">976</p>
                      </div>
                      <div>
                        <p class="small text-muted mb-1">Rating</p>
                        <p class="mb-0">8.5</p>
                      </div>
                    </div>
                    <div class="d-flex pt-1">
                      <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                      <button type="button" class="btn btn-primary flex-grow-1">Follow</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section style="background-color: #9de2ff;">
      <div class="container py-3 h-500">
        <div class="row d-flex justify-content-left align-items-center h-100">
          <div class="col col-md-9 col-lg-7 col-xl-5">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-4">
                <div class="d-flex text-black">
                  <div class="flex-shrink-0">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                      alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px;">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h5 class="mb-1">Danny McLoan</h5>
                    <p class="mb-2 pb-1" style="color: #2b2a2a;">Senior Journalist</p>
                    <div class="d-flex justify-content-start rounded-3 p-2 mb-2" style="background-color: #efefef;">
                      <div>
                        <p class="small text-muted mb-1">Articles</p>
                        <p class="mb-0">41</p>
                      </div>
                      <div class="px-3">
                        <p class="small text-muted mb-1">Followers</p>
                        <p class="mb-0">976</p>
                      </div>
                      <div>
                        <p class="small text-muted mb-1">Rating</p>
                        <p class="mb-0">8.5</p>
                      </div>
                    </div>
                    <div class="d-flex pt-1">
                      <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                      <button type="button" class="btn btn-primary flex-grow-1">Follow</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="vh-100" style="background-color: #9de2ff;">
      <div class="container py-3 h-500">
        <div class="row d-flex justify-content-left align-items-center h-100">
          <div class="col col-md-9 col-lg-7 col-xl-5">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-4">
                <div class="d-flex text-black">
                  <div class="flex-shrink-0">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                      alt="Generic placeholder image" class="img-fluid" style="width: 180px; border-radius: 10px;">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h5 class="mb-1">Danny McLoan</h5>
                    <p class="mb-2 pb-1" style="color: #2b2a2a;">Senior Journalist</p>
                    <div class="d-flex justify-content-start rounded-3 p-2 mb-2" style="background-color: #efefef;">
                      <div>
                        <p class="small text-muted mb-1">Articles</p>
                        <p class="mb-0">41</p>
                      </div>
                      <div class="px-3">
                        <p class="small text-muted mb-1">Followers</p>
                        <p class="mb-0">976</p>
                      </div>
                      <div>
                        <p class="small text-muted mb-1">Rating</p>
                        <p class="mb-0">8.5</p>
                      </div>
                    </div>
                    <div class="d-flex pt-1">
                      <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                      <button type="button" class="btn btn-primary flex-grow-1">Follow</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div> -->