<div class="container">
  <div class="col">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
  
</div>





<!-- <div class="profile-section">
    <div class="cards-profile">
      <div class="flip-card  mb-4">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../../assets/hombre.png" alt="Avatar">
            <h1>Manuel Hernández</h1>
            <p>Full Stack Developer Junior</p>
          </div>
          <div class="flip-card-back">
            <p><i>"Apasionado por el aprendizaje y la creatividad, busco constantemente desafíos y oportunidades para crecer. Con experiencia en tecnología, diseño y escritura, me encanta explorar nuevas ideas y colaborar en proyectos interesantes. ¡Conectemos y avancemos juntos hacia el éxito!</i></p>
            <div class="social-icons">
              
              <i class="fa-brands fa-github fa-xl" style="color: #000000;"></i>
              <i class="fa-brands fa-linkedin-in fa-xl" style="color: #000000;"></i>
              
            </div>
  
          </div>
          
          
        </div>
      </div>
     
    </div>
    
  </div> -->

  
